.menu{
    display: grid;
    justify-content: center;
}
.menu .nav{
    background-color: chocolate;
    border-radius: 10px;
    overflow: hidden;

}
.nav a{
    color: #000;
}
.nav a:hover{
    background-color: black;
    color: chocolate;
}
.menuLateral{
    /* border: 1px solid black; */
    width: 152px;
    height: 84vh;
    background-color: #dbdbdb;

}
.listaHead{
    background-color: #ccc;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.lista{
    list-style: none;
    padding: 0px;
    width: 150px;
    /* border: 1px solid red; */
}
.lista li a:hover{
    background-color: #ccc;
}
.titulo{
    text-align: center;
}